@font-face {
  font-family: 'heavyweightregular';
  src: url('/heavywei-webfont.woff2') format('woff2'),
       url('/heavywei-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 16px;
  line-height: 1em;
  color: white;
}
.mask{
  background-color: rgba(0, 0, 0, .1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url('./show-bg.jpg');
  background-position: top center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.an-event{
  border-top: 1px solid #FFF59D;
  padding: 10px 0 20px 0;
}

.an-event:hover{
  background-color: rgba(0, 0, 0, 2);
}
.an-event div:hover{
  color: white !important;
}
.events{
  line-height: 16px;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
  text-shadow: 0 0 20px black, 0 0 20px black, 0 0 20px black;
  font-family: 'heavyweightregular';
}
.an-event div{
  padding-top: 10px;
  line-height: 20px;
  display: inline-block;
  margin-right: 10px;
  color: white;
}
.events h1, .images h1, .title-header{
  font-family: 'heavyweightregular';
  color: #FFF59D;
  text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
}
.images h1{
  padding-bottom: 10px;
  border-bottom: 1px solid #FFF59D;
}
.title-header{
  font-size: 54px;
  text-align: center;
  font-family: 'heavyweightregular';
  color: #FFF59D;
}
.images{
  padding: 20px;
  width: 80%;
  margin: 10px auto 10px auto;
}
.an-image {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: inline-block;
  width: 160px;
  height: 160px;
}
.an-image img{
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s ease-in-out;
  z-index: 2;
}
.an-image img:hover{
  box-shadow: 0 0 20px white;
}
.gradient{

  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.container{
  background-color: transparent;
}


@media only screen and (max-width: 500px) {
  .logo img{
    width: 100%;
  }
  .logo{
    padding: 5px !important;
  }
  iframe.SpotifyPlayer{
    margin-top: 10px !important;
    width: 100% !important;
  }
  div.images{
    width: 100% !important;
  }
  .an-image{
    width: 140px;
    height: 140px;
  }
  .events{
    width: 100% !important;
  }
}
