@font-face {
  font-family: 'heavyweightregular';
  src: url('/heavywei-webfont.woff2') format('woff2'),
       url('/heavywei-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 16px;
  line-height: 1em;
  color: white;
}
.mask{
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url('./dark-bg.jpg');
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.an-event{
  border-top: 1px solid #FFF59D;
  padding: 10px 0 10px 0;
}
.events{
  line-height: 16px;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
  font-family: 'heavyweightregular';
}
.an-event div{
  padding-top: 10px;
  line-height: 20px;
  display: inline-block;
  margin-right: 10px;
  color: #B0BEC5;
}
.events h1, .images h1, .title-header{
  margin-bottom: 20px;
  font-family: 'heavyweightregular';
  color: #FFF59D;
}
.title-header{
  font-size: 54px;
  text-align: center;
  font-family: 'heavyweightregular';
  color: #FFF59D;
}
.images{
  padding: 20px;
  width: 80%;
  margin: 10px auto 10px auto;
}
.an-image {
  margin: 10px;
  display: inline-block;
  width: 160px;
  height: 160px;
}
.an-image img{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .logo img{
    width: 100%;
  }
  .logo{
    padding: 5px;
  }
}