body{
  background: url('./show-bg.jpg');
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: black;
}
.logo img{
    position: relative;
    top: 0; bottom: 40; left: 0; right:0;
    margin: auto;
}
.logo{
    text-align: center;
    padding: 40px;
}
.social-icon{
  display: inline-block;
  color: white;
  box-sizing: border-box;
}
.social-icon a{
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 100%;
}
.social-icon a:hover{
  background-color: white;
  color: #545454 !important;
}

.social-icon span{
  margin-top: 12px !important;
  font-size: 3.1rem !important;
}
.icons{
  width: 304px;
  margin: 0 auto;
}
iframe.SpotifyPlayer {
  margin: 70px auto 10px;
  width: calc(80% - 40px);
  position: relative;
  display: block;
  border: 4px solid white;
  opacity: 0.6;
  height: 88px;
}
