
body{
  background: url('./dark-bg.jpg');
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}
.logo img{
    position: relative;
    top: 0; bottom: 40; left: 0; right:0;
    margin: auto;
    opacity: .7;
}
.logo{
    text-align: center;
    padding: 40px;
}
.social-icon{
  display: inline-block;
  color: white;
  padding: 10px;
  width: 76px;
  box-sizing: border-box; 
}
.social-icon a{
  background-color: #545454;
}

.social-icon span{
  font-size: 2.1rem !important;
}
.icons{
  width: 304px;
  margin: 0 auto;
}
