
body{
  background: url('./dark-bg.jpg');
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}
.logo img{
    position: relative;
    top: 0; bottom: 40; left: 0; right:0;
    margin: auto;
    opacity: .7;
}
.logo{
    text-align: center;
}


